<div class="container align center">
<div>
   <div class="card mb-3">
      <img class="card-img-top" src="../.././../assets/images/star-wars-x-wing-minimalism-ship-in-a-bottle-wallpaper-preview.jpg" alt="Card image cap">
      <div class="card-body">
        <h1 *ngIf="vaisseau">{{vaisseau.name}}</h1>
        <p *ngIf=" vaisseau.MGLT != 'unknown'" class="card-text"> MGLT: {{vaisseau.MGLT}}</p>
        <p class="card-text"> Capacity : {{vaisseau.cargo_capacity}}</p>
        <p class="card-text"> Cost : {{vaisseau.cost_in_credits}}</p>
        <p class="card-text"><small class="text-muted">{{vaisseau.edited}}</small></p>
      </div>
      <h4 *ngIf="filmsUrl" class="text-ellipsis">
         <ul class="col-sm-3" *ngFor="let filmId of filmsUrl; let i = index">
             <a routerLink="/film/{{filmId}}" t routerLinkActive="active" > Moovie - {{filmId}}</a>
          </ul>
       </h4>
       <h4 *ngIf="peoplesUrl" class="text-ellipsis">
          <ul class="col-sm-3" *ngFor="let peopleId of peoplesUrl; let i = index">
             <a routerLink="/people/{{peopleId}}"  routerLinkActive="active" > Pilot - {{peopleId}}</a>
          </ul>
       </h4>
    </div>
