<!-- Menu de naviguation -->
<nav class="navbar navbar-dark primary-custom">
    <h1 class="navbar-brand"><i class="fa fa-space-shuttle fa-2x"></i> API Star WARS </h1>
    <div class="col-md-4">
      <!-- Champ de recherche  -->
      <div class="input-group">
        <input class="form-control py-2 border-right-0 border" placeholder="Rechercher de Vaisseau "type="search" >
        <span class="input-group-append">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </span>
      </div>
    </div>
    <div class="inline pull-right btngrp" style="inline-flex">
        <p>
            {{ now | date:'MMM d, y, h:mm:ss a'}}
        </p>
    </div>
    <div class="inline pull-right btngrp" style="inline-flex">
      <button (click)="searchMethod()" type="button" class="btn btn-warning"> Rechercher</button>
    </div>
  </nav>