<!-- Menu de naviguation -->
<nav class="navbar navbar-dark primary-custom">
    <a routerLink="" title="" routerLinkActive="active" ><h1 class="navbar-brand">
    <i class="fa fa-space-shuttle fa-2x"></i> API Star WARS </h1></a>
    <a class="nav-item nav-link" href="#">Peoples</a>
    <a class="nav-item nav-link" href="#">Films</a>
    <a class="nav-item nav-link" href="#">Startchips</a>
    <a class="nav-item nav-link" href="#">Vehicles</a>
    <a class="nav-item nav-link" href="#">Species</a>
    <a class="nav-item nav-link" href="#">Planets</a>
    <div class="inline pull-right btngrp" style="inline-flex">
        <p>
            {{ now | date:'MMM d, y, h:mm:ss a'}}
        </p>
    </div>
  </nav>