<div class="container align center">
<div class="card bg-dark text-white">
   <img class="card-img" src="../../../assets/images/planet.png" alt="Card image">
   <div class="card-img-overlay">
   <h1 class="card-title">{{planet.name}}</h1>
   <p class="card-text">Climate: {{planet.climate}} </p>
   <p class="card-text">{{planet.edited | date:'MMM d, y, h:mm:ss a'}}</p>
   <hr>
   <ul class="col-sm-3" *ngFor="let residentId of residentsUrl; let i = index">
         <a routerLink="/people/{{residentId }}"  routerLinkActive="active" > Pilot-{{residentId }}</a>
   </ul>
   <br>
    <ul class="col-sm-3" *ngFor="let filmId of filmsUrl; let i = index">
          <a routerLink="/film/{{filmId}}"  routerLinkActive="active" > Moovie-{{filmId}}</a>
    </ul>
    <br>
   </div>
 </div>
 </div>
